<div class="container-fluid">
  <div class="row">
    <!-- Main content -->
    <main role="main" class=" ml-sm-auto px-4">
      <h1 class="h2">Dashboard</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Products</h5>
              <p class="card-text">150</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Orders</h5>
              <p class="card-text">300</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Users</h5>
              <p class="card-text">500</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
