<div class="container my-5">
  <h2 class="text-danger">Order Failed</h2>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">We encountered an issue with your order</h4>
    <p>Unfortunately, we couldn't process your order because some items are out of stock. Please review the list below:</p>
    <ul class="list-group">
      <% insufficientStockItems.forEach(item => { %>
        <li class="list-group-item">
          <strong><%= item.product %></strong>: Requested <%= item.requestedQuantity %>, Available <%= item.availableStock %>
        </li>
      <% }); %>
    </ul>
    <hr>
    <p class="mb-0">Please adjust the quantities or remove these items from your cart.</p>
  </div>
  <a href="/shop" class="btn btn-primary">Return to Shop</a>
</div>